.category-bar-chart {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin: 10px;
  }
  
  .category-name {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  .chart-container {
    flex: 1 1 auto;
  }
  