
/* Modal css___ */
.modalbackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.77);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modalcontainer{
    width: 480px;
    height: 180px;
    background-color: rgba(239, 239, 239, 0.85);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modalcontainer .modaltitle{
    font-family: 'Ubuntu',sans-serif;
    font-weight: 700;
    line-height: 34px;
     text-align: start;
     margin-left: 20px;
     margin-bottom: 15px;
}

.modalbody{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    
}

.modalbody .inputtxt{
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    
}


.button1{
    border-radius: 10px;
    border: none;
    background-color: rgba(244, 187, 74, 1);
    width: 130px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 50px;
    margin-right: 30px;

}

.button2{
    border-radius: 10px;
    border: none;
    background-color: rgba(227, 227, 227, 1);
    width: 75px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    height: 50px;

}

/* expsnsemodalcss__ */
.expensebackground{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.77);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.expensecontainer{
    width: 450px;
    height:300px;
    background-color: rgba(239, 239, 239, 0.85);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}

.expensecontainer .expensetitle {
    font-family: 'Ubuntu',sans-serif;
    font-weight: 700;
    line-height: 34px;
    text-align: start;
    margin-left: 20px;
     
}

.expensebody{
    width:400px; 
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    
   
}

.inputrows{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: Open Sans;
}
.expsensetxt{
   height: 35px;
   width: 180px;
   border-radius: 10px;
   border: none;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   font-family: 'Open Sans';
   padding: 5px;
   font-size: 15px;
}

.expsnsebuttons{
   display: flex;
   gap: 15px;
   
}

.exbutton1{
    background-color: rgba(244, 187, 74, 1);
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.exbutton2{
    background-color: rgba(227, 227, 227, 1);
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.menuitemContainer {
    display: flex;
    flex-direction: column;
  }
  
  .menuitemIcon {
     margin-right: 15px;
  }
  

@media only screen and (max-width: 768px) {

    .modalcontainer{
        width: 300px;
        height: 200px;
    }
    
    .modalbody{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .modaltitle h1{
        text-align: center;
    }
    .inputtxt{
        width: 240px;
        margin-bottom: 10px;
    }

    .button1 .button2{
        cursor: pointer;
    }


    .expensecontainer{
        width: 300px;
        height: 300px;
    }

    .expensebody{
        display: flex;
        flex-direction: column;
        width: 290px;
        
    }
   
    .expsensetxt{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 130px;
        height: 40px;
    }
    .exbutton1{
       width: 130px;
    }
}